<div class="hero">
    <div class="flex flex-col lg:flex-row justify-between">
        <div class="w-full px-6 lg:px-20 flex flex-col justify-center section1">
            <h5 class="text-slate-500 text-xl">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla cumque delectus nesciunt corrupti magnam!</h5>
            <div class="mt-5">
                <button class="bg-slate-50 ring-1 ring-indigo-400 text-xl font-medium rounded-md py-2 px-6"><span>Join Now</span></button>
            </div>
        </div>
        <div class="section2 w-full"></div>
    </div>
</div>